<h1>show</h1>


<div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)"></div>
<h3><%= @list.name %></h3>

